{% extends 'base.html' %}

{% block content %}

{% if category_posts %}    

	<h1>Posts of {{ cats }} category </h1>

	<ul>
	{% for post in category_posts %}
		<li><a href="{% url 'theblog:article-detail' post.pk %}">{{ post.title }}</a>
			- {{ post.author.username }} -
			{{ post.post_date }} <small>

			{% if user.is_authenticated %}	
				- <a href="{% url 'theblog:update_post' post.pk %}">(Edit)</a>

				<a href="{% url 'theblog:delete_post' post.pk %}">(Delete)</a>
			{% endif %}

		</small> <br/>
		{{ post.body|slice:":200"|safe }}</li>
	{% endfor %}
	</ul>

{% else %}
	<h2>Sorry this category does not exist...</h2>
{% endif %}

{% endblock %}